#total{text-align: center;}
#lat{text-align: center;}
#pop{text-align: center;}
#para{text-align: center;}
#random{text-align: center;}
#con{text-align: center;}
#ran{text-align: center;}
#ins{text-align: center;}
#bro{text-align: center;}
#col{background-color: black;
color: white;}
#colr{background-color: black;
color: white;}
#ing{text-align: center;}
#coll{background-color: black;
color: white;}



@media screen and (max-width:530px){
    #tot{text-align: center;
    }
    
}
